[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "rikkazee-blog/themes/hugo-bearblog"]
	path = rikkazee-blog/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
